@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

h1 {
  color: azure;
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: azure; text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
}

ol {
  color: azure;
}

p {
  font-family: 'Titillium Web', sans-serif;
  color: azure;
  text-align: left;
}

ul {
  font-family: 'Titillium Web', sans-serif;
  color: azure;
}

ol {
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
}

a{
  color: azure;
}
p{
  font-size: 1.2vw;
}
li{
  font-size: 1.2vw;
}

.ProfileImgStyle {
  border-radius: 50%;
  border-color: rgba(240, 255, 255, 0.681);
  border-width: 5px;
  border-style: solid;
  margin-top: 25%;
  height: auto; width: 50%;

}

.GithubLogoStyle {
  width: 40px;
  height: 40px;
  background-color: azure;
  border-style: solid;
  border-radius: 50%;
  border-color: azure;
  margin-top: 6px;
}

.IUELogoStyle {
  width: 80px;
  height: 40px;
  margin-top: 6px;
}

.NeocitiesLogoStyle {
  width: 50px;
  height: 50px;
  margin-top: 6px;
}

.CorreoLogoStyle {
  width: 40px;
  height: 40px;
  margin-top: 6px;
  background-color: azure;
  padding-left: 3px;
  padding-right: 3px;
  background-color: azure;
  border-style: solid;
  border-color: azure;
  border-radius: 25%;

}





.BodyIndex {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:"E-mail Neocities Github College" "Design Researches Workshops Challenges";
  grid-area: Body;
}
.BodyCV{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Description Skills"
    "Studies Hobbies"; 
  grid-area: BodyCV; 
}

.Box1 {
  width: auto;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(37, 37, 37, 0.9);
  border-radius: 5px;
  text-align: center;
  background-color: rgba(37, 37, 37, 0.9);
  margin: 0;
  height: auto;
}

.Box3 {
  width: 75%;
  height: auto;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(37, 37, 37, 0.5);
  overflow: hidden;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-color: rgba(37, 37, 37, 0.9);
  margin-left: 10%; margin-top: 5%;
}

.imgFarmaciaFondo {
  background-color: aqua;
  border-color: blue;
  width: 1000px;
}

.imgLogoFarmacia {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #B2DF8A;
  left: 0;
  top: 10;
  border-radius: 100px;

}

.HeaderIndex {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Title TitleImg";
  grid-area: Head;
  background: #252525;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  height: 25%;
  width: 99%; 
}
.HeaderCV{
  display: grid; 
  grid-template-columns: 25% 75%; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "PictureCV TitleCV"; 
  grid-area: HeaderCV; 
}

.TitleIndex {
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "Portafolio"
    "Nombre";
  grid-area: Title;
}

.PortafolioIndex {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 100%;
}